@keyframes icanfly {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(2000px, -100px);
  }
}

#mouse-movement-detect {
  width: 100vw;
  height: 100vh;

  background-color: #000;
}

#mouse-movement-info {
  position: fixed;
  cursor: default;

  top: 0;
  left: 0;

  color: #fff;

  font-size: 24px;
  font-weight: 900;
}
#mouse-movement-info.click {
  animation: icanfly 1s forwards linear;
}
